<article>
    <form action="/" method="POST">
        <input type="hidden" name="c" value="user">
        <input type="hidden" name="a" value="signup">

        <input type="text" name="name" value="" placeholder="Name"><br>
        <input type="text" name="email" value="" placeholder="e-mail"><br>
        <input type="password" name="password" value="" placeholder="Password"><br>

        <input type="submit" value="Sign up">

    </form>
    <a href="/">Back</a>
</article>
