html, body {
    border: 0;
    margin: 0;
    padding: 0;
    font: 1em Ubuntu, Arial, Tahoma;
}

header,
article {
    margin: 20px;
    padding: 5px;
}

header {
    border-bottom: 1px solid black;
}

article time {
    font-size: 80%;
    font-style: italic;
}

article p {
    margin: 0 0 20px 0;
    padding: 5px;
    border-bottom: 1px dotted black;
}
