<header>
    <?php if(Auth::authenticated()){ ?>
        <a><?php echo Auth::get('name'); ?></a>
        <a href="?c=user&a=signout">Sign out</a>
    <?php }else{ ?>
        <a href="?c=user&a=signin">Sign in</a> |
        <a href="?c=user&a=signup">Sign up</a>
    <?php } ?>
</header>

<?php if(Auth::authenticated()){ ?>
<article>
    <?php foreach ($this->comments as $comment) { ?>
        <div>
            <time><?php echo $comment->date;?></time>
            <p><?php echo $comment->comment;?></p>
        </div>

    <?php } ?>
</article>

<article>
    <form action="/" method="POST">
        <input type="hidden" name="c" value="comment">
        <input type="hidden" name="a" value="add">

        <label for="comment">Write a comment</label><br>
        <textarea name="comment" id="comment" cols="45" rows="10"></textarea><br>

        <input type="submit" value="Comment">

    </form>
</article>
<?php } ?>
