<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="...::: author spapp - visit us online @ http://www.spappsite.hu/ :::...">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>nival</title>

    <?php echo $this->css(); ?>
</head>
<body>

<?php $this->content(); ?>

</body>
</html>

